body{
    background-color: rgb(109, 90, 122);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 135px;
    height: 90px;
}
.card-img-top{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.ancora{
    background-color: rgb(123, 123, 216);
    border-radius: 5px;
}
.card{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(117, 105, 105, 0.664);
    border-radius: 10px;
    width: 300px;
    height: 420px;
    margin-bottom: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    
}
.card-title{
    font-weight: bold;
    margin-left: 5px;
    size: 30px;
}
.card-text{
    margin-left: 7px;
    margin-right: 9px;
    text-align: justify;
}
.botoes{
    margin-left: 5px;
}
.card-container1 {
    display: flex;
    justify-content: space-between;
    max-width: 690px; /* Ajuste este valor conforme necessário */
    margin-left: auto;
    margin-right: auto;
}
.card-container2 {
    display: flex;
    justify-content: space-between;
    max-width: 690px; /* Ajuste este valor conforme necessário */
    margin-left: auto;
    margin-right: auto;
}
.categoria{
    text-align: center;
}
