body{
    background-color: rgb(109, 90, 122);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* MEXAM AQUI PRO SCRIPT JS, HENRIQUE E LUIZ
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown nav {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover nav {
    display: block;
} */
.logo{
    width: 135px;
    height: 90px;
}
@media (max-width: 768px) {
    .logo {
        width: 100px;
        height: 70px;
        /* outros estilos para mobile */
    
    }
}

.menu{
    align-items: center;
    display: flex;
    margin-right: 30px;
    margin-left: 10%;
    margin-bottom: 5px;
}
@media (max-width: 768px) {
    .menu {
        align-items: center;
        display: block;
        margin-right: 30px;
        margin-left: 10%;
        margin-bottom: 15px;
        /* outros estilos para mobile */
    }
}
.textoMenu{
    align-items: center;
    display: flex;
    margin-left: 30px;
    margin-right: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
@media (max-width: 768px) {
    .textoMenu {
        align-items: center;
        display: flex;
        margin-left: 130px;
        margin-right: 10px;
        margin-bottom: 75px;
        margin-top: -65px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        /* outros estilos para mobile */
    }
}
.card-img-top{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.ancora{
    background-color: rgb(123, 123, 216);
    border-radius: 5px;
}
.card{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(117, 105, 105, 0.664);
    border-radius: 10px;
    width: 300px;
    height: 420px;
    margin-bottom: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    
}
.card-title{
    font-weight: bold;
    margin-left: 5px;
    size: 30px;
}
.card-text{
    margin-left: 7px;
    margin-right: 9px;
    text-align: justify;
}
.botoes{
    margin-left: 5px;
}
.card-container1 {
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}
.card-container2 {
    display: flex;
    justify-content: space-between;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}
.categoria{
    text-align: center;
}
.cart{
    margin-right: 8px;
    height: 30px;
    width: auto;
}
.cartGo{
    margin-right: 8px;
    height: 35px;
    width: auto;
}
.cartMenu{
    margin-right: 8px;
    height: 30px;
    width: auto;
}
.botaoComprar{
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    float: left;
    text-align: justify;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: bold;
}
.botaoCarrinho{
    border-radius: 5px;
    background-color: rgb(123, 123, 216);
    float: right;
    text-align: justify;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    padding: 5px;
    font-weight: bold;
}
.linkMais{
    text-decoration: none;
    color: inherit;
}
.alunos{
    margin-left: 10%;
    margin-right: 10%;
    width: 450px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}