body{
    background-color: rgb(109, 90, 122);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    margin-left: 3px;
    margin-bottom: 3px;
    width: 24%;
    height: 19%;
}
.card-img-top{
    border-radius: 10px;
    width: 300px;
}
.ancora{
    background-color: rgb(123, 123, 216);
    border-radius: 5px;
}
.card{
    margin-left: 5px;
    background-color: rgba(117, 105, 105, 0.664);
    border-radius: 10px;
    width: 300px;
    height: 425px;
}
